{
    "extends": [
        "@commitlint/config-conventional",
        "cz"
    ],
    "rules": {
        "type-enum": [
            2,
            "always",
            [
                "feat",
                "bug",
                "fix",
                "ui",
                "docs",
                "style",
                "perf",
                "release",
                "deploy",
                "refactor",
                "test",
                "chore",
                "revert",
                "merge",
                "build"
            ]
        ],
        "type-case": [
            2,
            "always",
            "lower-case"
        ],
        "type-empty": [
            2,
            "never"
        ],
        "scope-empty": [
            0,
            "never"
        ],
        "scope-case": [
            0
        ],
        "subject-empty": [
            2,
            "never"
        ],
        "subject-full-stop": [
            0,
            "never"
        ],
        "subject-case": [
            0,
            "never"
        ],
        "body-leading-blank": [
            1,
            "always"
        ],
        "header-max-length": [
            0,
            "always",
            72
        ]
    }
}
